* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gap: 1rem;
    --navbar-height: 4rem;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


@media only screen and (max-width: 30rem) {
    html {
        font-size: 14px;
    }

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    flex-grow: 4;
  }

.nav_logo {
    height: var(--navbar-height);
    flex-grow: 1;
    text-align: center;
    max-width: 20%;

    &:hover {
        background-color: #f9f1d9;
    }
     & img {
        height: 100%;
     } 
}

  .nav_menu a {
    text-decoration: none;
    color: black;
    padding: 0.8rem;
    border: 0.1px solid black;
    border-radius: 1rem;
    transition: all 0.3s ease;

    &:last-of-type {
        margin-right: 1rem;
    }

    &:hover {
        border-radius: 0;
    }
  }

footer {
    display: flex;
    /* border: 5px solid yellow; */
    height: 20svh;
    background-color: rgb(1, 0, 23);
    & section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 80rem;
        margin: 0 auto;
        gap: 0.5rem;
        & a {
            text-decoration: none;
            color: white;
        }
    }
}