.pizza-area {
    background-image: url(/photos/hand-drawn-pattern-background_23-2150822452.avif); 
    background-size: cover;
    /* opacity: 0.5;*/
}
.burger-area {
    background-image: url(/photos/burger-background.jpg); 
    background-size: cover;
    /* opacity: 0.5;*/
}
.sushi-area {
    background-image: url(/photos/sushi-background.jpg); 
    background-size: cover;
    /* opacity: 0.5;*/
}
.bbq-area {
    background-image: url(/photos/BBQ-background.jpg);
    background-size: cover; 
    /* opacity: 0.5;*/
}

.cuisine-name{
    text-align: center;
    background-color: white;
    margin-bottom: 70px;
    padding: 20px;
}
.explore{
 text-align: center;       
}
.recepies-list {
    display: flex;
    justify-content: center;
    width: 100%;
 
.recipe-img {
    width: 175px;
    height: 140px;
 }  

}
.recepies-grid {
    background-color:beige;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    border: 1px dotted black;
    padding: 10px;
    border-radius: 10%;
  }
  .recipe-link{
    
  }
  .recepies-grid-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px dotted gray;
    border-radius:10%;
  }