header {
    display: flex;
    border: 5px solid blue;
    height: var(--navbar-height + 2rem);
    flex-wrap:wrap
}

main {
  border: 5px solid aqua;
}

.index_table table {
  display: relative;
  border: 1px solid black;
  margin: 10rem auto;
  & * {
    text-align: center;
  }

  & caption {
    opacity: 0.5;
  }

  & td {
    border: 1px solid black;
    padding: 1rem;
  }
}